.feed {
	flex: 0.6;
	margin: 10px 20px;
}
.feed__inputContainer {
	background: white;
	padding: 10px;
	padding-bottom: 5px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.feed__input {
	border: 1px solid lightgray;
	border-radius: 30px;
	display: flex;
	padding: 10px;
	color: gray;
	padding-left: 15px;
	width: 80%;
	margin: auto;
}
.feed__input > form {
	display: flex;
	width: 100%;
}
.feed__input > form > input {
	border: none;
	flex: 1;
	margin-left: 10px;
	outline-width: 0;
	font-weight: 600;
}
.feed__input > form > button {
	display: none;
}
.feedInput__Options {
	display: flex;
	justify-content: space-evenly;

	font-size: 20px;
}
.feed__Loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
